{% extends "base.html" %}
{% block content %}
<h1>Miete beenden</h1>

<p>Bitte gib die Werte ein (Simulation).</p>

<form method="post">
  <div>
    <label>Akku nach Fahrt (%)</label><br />
    <input name="battery_percent" type="number" min="0" max="100" required />
  </div>

  <div>
    <label>Distanz (km) (optional)</label><br />
    <input name="distance_km" type="number" step="0.01" min="0" />
  </div>

  <div>
    <label>Latitude (optional)</label><br />
    <input name="latitude" />
  </div>

  <div>
    <label>Longitude (optional)</label><br />
    <input name="longitude" />
  </div>

  <button type="submit">Miete definitiv beenden</button>
</form>

<p><a href="{{ url_for('driver.scooters_list') }}">Abbrechen</a></p>
{% endblock %}